/*Somehow it seems that if bootstrap comes before jquery-us CSS, then on FireFox the textarea resize gripper is displayed at incorrect location!*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/theme.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');


/*Using JQuery UI resizable plugin, show resizing gripper for all textareas even for the browsers
like IE that don't support this gripper
*/
.ui-resizable-handle {
  transform: translateY(-100%);
}

pre {
	white-space: pre-wrap;       /* Since CSS 2.1 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

body {
	padding: 4px;	/*A waste of real estate perhaps, but certainly to counteract hardware errors hiding the edge pixels of the screen. */	
}